@import '../theme.module.css';

:root[data-mantine-color-scheme="dark"] {
  .controlBar {
    background-color: var(--app-bg-color-dark);
    border-top-color: var(--app-border-color-dark);
  }

  .timeDisplay {
    background-color: var(--mantine-color-dark-7);
  }
}

.controlBar {
  display: flex;

  @media screen and (min-width: $mobile-breakpoint) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    flex-direction: column;
    align-items: flex-start;
  }

  background-color: var(--app-bg-color);
  padding: 0.5em 1rem;
  border-top: 1px solid var(--app-border-color);
}

.controls {
  @media screen and (max-width: $mobile-breakpoint) {
    width: 100%;
    gap: unset;
    justify-content: space-between;
  }
}

.playback {
  gap: 0.25em;
}

.timeDisplay {
  font-family: monospace;
  font-size: var(--mantine-font-size-sm);
  text-align: right;
  padding: 0 0.5rem;
  background-color: white;
  margin-right: 0.5rem;
  width: 5.5rem;
  line-height: 1.75;
  border-radius: var(--mantine-radius-sm);
}

.btnLabel {
  display: flex;
  gap: 0.125rem;
}

.btnLabel :global(.material-symbols-outlined) {
  font-size: var(--mantine-font-size-xl);
}

.helpTooltip {
  font-size: var(--mantine-font-size-sm);
  animation: blinking 1s linear infinite;
}

@keyframes blinking {
  50% {
    filter: brightness(130%);
  }
}