.entries {
  flex: 1;
  overflow-y: scroll;
  scrollbar-width: none;
}

.entryHeader {
  gap: 0;
  padding: 0 var(--mantine-spacing-md);

  p {
    font-size: var(--mantine-font-size-xs);
    font-weight: bold;
    text-align: center;
    line-height: 0.75;
    margin: 0.5rem 0 0.5rem;
  }
}

.count {
  width: var(--count-width);
  border-right: 1px solid var(--mantine-color-gray-7);
}

.timestamp {
  width: var(--timestamp-width);
  border-right: 1px solid var(--mantine-color-gray-7);
}
