.entry {
  align-items: center;
  gap: 0;
  padding: 0 0.5rem 0 1rem;
}

.entry:nth-child(odd) {
  background-color: var(--mantine-color-gray-2);
}

.timestamp {
  cursor: pointer;
  padding: 0.5rem var(--mantine-spacing-sm);
}

.timestamp:hover {
  color: var(--mantine-color-blue-9);
}

.meterInput {
  width: 3.25rem;
  text-align: right;
}