:root {
  --app-font-color: var(--mantine-color-gray-9);
  --app-font-color-dark: var(--mantine-color-gray-4);
  --app-bg-color: var(--mantine-color-green-0);
  --app-bg-color-dark: darken(var(--mantine-color-cyan-2), 0.7);
  --app-border-color: var(--mantine-color-gray-5);
  --app-border-color-dark: var(--mantine-color-gray-7);
  --count-width: 3.25rem;
  --timestamp-width: 5.5rem;
}

.textInput {
  font-size: var(--mantine-font-size-md);
}

.defaultBtn {
  color: var(--app-font-color);

  :root[data-mantine-color-scheme="dark"] & {
    color: var(--app-font-color-dark);
  }
}

.outlineBtn {
  color: var(--app-font-color);
  border-color: var(--app-font-color);

  &:hover {
    color: var(--app-font-color);
  }

  :root[data-mantine-color-scheme="dark"] & {
    color: var(--app-font-color-dark);
    border-color: var(--app-font-color-dark);

    &:hover {
      color: var(--app-font-color-dark);
    }
  }
}