:root[data-mantine-color-scheme="dark"] {
	.header {
		background-color: var(--app-bg-color-dark);
		border-bottom-color: var(--app-border-color-dark);
		color: var(--app-font-color-dark);
	}

	.logo {
		color: var(--mantine-color-grape-5);
	}
}

.header {
	color: var(--app-font-color);
	align-items: center;
	flex-wrap: nowrap;
	gap: 0;
	padding: 0 var(--mantine-spacing-md);
	background-color: var(--mantine-color-green-0);
	border-bottom: 1px solid var(--app-border-color);

	@media screen and (max-width: $mobile-breakpoint) {
		padding: 0.375rem var(--mantine-spacing-xs);
	}
}

.logo {
	padding: 0.5rem;
	cursor: pointer;
	color: var(--mantine-color-violet-9);
	text-transform: uppercase;
	font-weight: bold;
	font-size: var(--mantine-font-size-sm);
}

.headerLeftSide {
	gap: var(--mantine-spacing-md);
	flex-wrap: nowrap;
	min-width: 0;
}

.trackInfo {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.headerRightSide {
	flex: 1;
	flex-wrap: nowrap;
	margin-right: var(--mantine-spacing-xs);
}
