
.flex {
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.stack {
  margin: 2rem 1rem 1rem;
  align-items: center;
  flex: 1;
  max-width: 25rem;
}

.different {
  cursor: pointer;
  color: var(--mantine-color-violet-9);
  text-decoration: underline;

  :root[data-mantine-color-scheme="dark"] & {
    color: var(--mantine-color-grape-5);
  }
}