@tailwind base;

@layer base {
	:root {
		@apply bg-zinc-50 font-sans text-zinc-800 dark:bg-zinc-800 dark:text-zinc-50;
	}

	:root,
	body,
	#root {
		height: 100%;
	}

	#root {
		display: flex;
		flex-direction: column;
	}

	input {
		@apply outline-none focus-visible:outline-cyan-700 dark:focus-visible:outline-orange-400;
	}

	button,
	[role="menuitem"] {
		@apply outline-none data-[focus-visible]:outline-cyan-700 dark:data-[focus-visible]:outline-orange-400;
	}

	input {
		@apply bg-zinc-50 dark:bg-gray-800;
	}
}

/* @tailwind components; */
@tailwind utilities;

.react-aria-ModalOverlay {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	height: var(--visual-viewport-height);
	background-color: rgba(0, 0, 0, 0.5);
}

:root {
	--app-font-color: var(--mantine-color-gray-9);
	--app-font-color-dark: var(--mantine-color-gray-4);
	--app-bg-color: var(--mantine-color-green-0);
	--app-bg-color-dark: darken(var(--mantine-color-cyan-2), 0.7);
	--app-border-color: var(--mantine-color-gray-5);
	--app-border-color-dark: var(--mantine-color-gray-7);
	--count-width: 4rem;
	--timestamp-width: 5.5rem;
}
