@tailwind base;

@layer base {
	:root {
		@apply bg-zinc-50 font-sans text-zinc-800 dark:bg-zinc-800 dark:text-zinc-50;
	}

	:root,
	body,
	#root {
		@apply h-full;
	}

	#root {
		@apply flex-col;
	}
}

@tailwind components;
@tailwind utilities;

:root {
	--app-font-color: var(--mantine-color-gray-9);
	--app-font-color-dark: var(--mantine-color-gray-4);
	--app-bg-color: var(--mantine-color-green-0);
	--app-bg-color-dark: darken(var(--mantine-color-cyan-2), 0.7);
	--app-border-color: var(--mantine-color-gray-5);
	--app-border-color-dark: var(--mantine-color-gray-7);
	--count-width: 4rem;
	--timestamp-width: 5.5rem;
}
