.textInput {
  font-size: var(--mantine-font-size-md);
}

.defaultBtn {
  color: var(--app-font-color);

  :root[data-mantine-color-scheme="dark"] & {
    color: var(--app-font-color-dark);
  }
}

.outlineBtn {
  color: var(--mantine-color-gray-7);
  border-color: var(--mantin-color-gray-7);

  &:hover {
    color: var(--mantine-color-gray-8);
  }

  :root[data-mantine-color-scheme="dark"] & {
    color: var(--app-font-color-dark);
    border-color: var(--app-font-color-dark);

    &:hover {
      color: var(--app-font-color-dark);
    }
  }
}