
:root[data-mantine-color-scheme="dark"] {
  .entry:nth-child(odd) {
    background-color: var(--mantine-color-gray-8);
  }

  .highlight.entry {
    background-color: darken(var(--mantine-color-orange-4), 0.5);
  }
}

.entry {
  align-items: center;
  gap: 0;
  padding: 0 0.5rem 0 1rem;
}

.entry:nth-child(odd) {
  background-color: var(--mantine-color-gray-2);
}

.highlight.entry {
  background-color: var(--mantine-color-orange-4);
}

/* TODO: Add dark styles */
.fillBtn {
  color: var(--mantine-color-gray-6);
  cursor: pointer;
  width: 18px;

  &:hover {
    color: var(--mantine-color-blue-5)
  }
}

.timestamp {
  cursor: pointer;
  text-align: right;
  padding: 0.5rem var(--mantine-spacing-sm);
  width: 5.5rem;
}

.timestamp:hover {
  color: var(--mantine-color-blue-9);
}

.countInput {
  width: var(--count-width);
  text-align: right;
}